@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&display=swap');

html {
    background-color: #f6f6f6;
}

body {
    font-family: "EB Garamond", "Helvetica Neue", "Segoe UI", sans-serif;
    margin: 0;
    font-weight: 300;
    font-size: 23px;
    background-color: white;
    padding-top: 0;
    display: flex;
}

.hero-text h1 {
    grid-column: 1 /-1;
    font-size: 4rem;
    font-weight: 700;
    color: #111827;
    line-height: 1.2;
    align-items: center;
    text-align: center;

}
.hero-text p {
    grid-column: 1 / -1;
    color: #4b5563;
}

.hero-text h2 {
    margin: 1.25rem;
    align-content: center;
    text-align: center;
    font-style: italic;
    font-weight: 100;

}
.hero-section {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem;
    max-width: 70%;

}
