@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&display=swap');

html {
    background-color: #f6f6f6;
}
body {
    font-family: "EB Garamond", "Helvetica Neue", "Segoe UI", sans-serif;
    margin: 0;
    font-weight: 300;
    font-size: 23px;
    background-color: white;
    padding-top: 0;
    display: flex;
}
.container-section {
    max-width: 1100px;
    min-width: 320px;
}
.wrap {
    background: #fff;
    margin: 0 auto;
    padding: 90px 120px;
}
.header {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.slogan {
    margin: 1.25rem;
    align-content: center;
    text-align: center;
    font-style: italic;
    font-weight: 100;

}
.header .nav {
    text-align: right;
    display: flex;
    gap: 20px;

}

.hero-text h1 {
    grid-column: 1 /-1;
    font-size: 3rem;
    font-weight: 400;
    color: #111827;
    line-height: 1.2;
    align-items: center;
    text-align: center;

}
.hero-text p {
    grid-column: 1 / -1;
    color: #4b5563;
}
.photo {
    text-align: right;
    float: right;
}
.photo img {
    max-width: 234px;
    border-radius: 100%;
    display: inline-block;
}




@media (max-width: 767px) {
    body{
        font-size: 20px;
        line-height: 1.4em;
    }
    .wrap{
        padding: 30px 15px;
        margin: 0;
    }
    .header{
        justify-content: space-between;
        flex-direction: column;
    }

    .header .nav {
        justify-content: center;
        text-align: center;

    }
    .logo{
        display: block;
        text-align: center;
    }
    .slogan h2{
        display: block;
        width: 100%;

    }
}