* {
    background-color: #f6f6f6;
}

body {
    font-family: sans-serif;
    margin: 0;
    color: black;
    font-weight: 300;
}

.hero-text h1 {
    grid-column: 1 /-1;
    font-size: 4rem;
    font-weight: 700;
    color: #111827;
    line-height: 1.2;
    margin-bottom: 1rem;
    align-items: center;
    text-align: center;

}
.hero-text p {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 1.75rem;
    color: #4b5563;
    margin-bottom: 2rem;

}